.header{background: #b7bbe1;}

.maintext-oldsys th, .maintext-oldsys td{
    padding:5px;
    font-size: 1.1em;
}
.content-oldsys{
    font-size: 1.1em;
}

.custom-list-item{
    margin: 10px 0px;
    padding: 10px;
}

.custom-list-item.visible-00{
    background: #dddddd;
}

.custom-list-item.active-00{
    background: #ffa0a0;
}

.check-show{
    display: flex;
}

.check-show-el{
    padding: 5px 15px;
}

.check-show-child{
    visibility: hidden;
}

.check-show.checked .check-show-child{
    visibility: visible;
}

.marks-menu{
    display: flex;
}
.marks-menu .mark-wrap{
    padding: 10px;
}

.mark-is-mobile{
    border-radius: 3px;
    border: 2px solid blue;
    color: blue;
    font-family: SANS-SERIF;
    font-size: 14px;
    padding: 1px 9px;
    display: inline;
}

.campaign_type-02{
    background: #ffb9b9;
}

.campaign_type-01{
    background: #ddddff;
}

.mark-fb-lead{
    background: #ddddff;
    border-radius: 3px;
    border: 2px solid blue;
}

.mark-affiliate{
    border-radius: 3px;
    border: 2px solid green;
    color: green;
    font-family: SANS-SERIF;
    font-size: 14px;
    padding: 1px 9px;
    display: inline;
}

.mark-not-sent{
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    font-family: SANS-SERIF;
    font-size: 20px;
    padding: 1px 9px;
    display: inline;
}
.users-send-list  .user_isactive_0 .col{
    background: #d7d6d6;
    color: #989696;
}
.users-send-list  .user_isactive_0 .input-checkbox{
    display: none;
}