body{
    color: gray;
}

a{
    color: orange;
}

.top-fix{
    background: #334433;
    color: #ffffdd;
}

.top-fix a{
    color: #ffffdd;
}

.top-fix a:hover{
    color: green;
}

.header-mid{
    background: #ffffdd;
    color: gray;
}

.header-mid a{
    color: gray;
}

.header-mid a:hover{
    color: <br />
<b>Warning</b>:  Undefined array key "top-link-hover" in <b>C:\xampp\htdocs\kobkob\my_new_mvc\admin\views\site_colors\css_template.php</b> on line <b>32</b><br />
;
}

.footer{
    background: #334488;
    color: yellow;
}
.footer a{
    color: yellow;
}

.big-title{
    background: #334488;
    color: #ffffdd;   
}

.big-title a{
    color: #ffffdd;   
}

a{
    color: orange;   
}

.color-title{
    color: #334488; 
}

.color-b{
    color: #334488;
}



.color-button{
    background: #334433;
    color: #ffffdd;
}

.color-button:hover, .a-current-item .color-button{
    background: green;
    color: blue;
}
body{background: yellow;}