*{
    margin:0; 
    padding:0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
}

textarea, input { outline: none; }

.hidden{
    display:none;
}

.clear{
    clear:both;
}

@media only screen and (min-width: 890px) {
    .mobile-only, .thin-only{
        display: none;
    }
}

@media only screen and (max-width: 890px) {
    .desktop-only, .wide-only{
        display: none !important;
    }
}

.page-wrap{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

i.fa{
    font-style: normal;
}

.page-fixed-top{
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    max-height: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 15px 5px;
    justify-content: space-between;
    z-index: 2;
    flex-wrap: wrap;
}

.alt-page-fixed-top{
    padding: 8px 0px 0px;
    max-height: fit-content;
    height: auto;
}

.alt-header-wrap{
    width: 100%;
    background: white;
    margin-top: 12px;
}

#logo_wrap.wide-fix-top-right img{
    max-width: 160px;
}

.fix-top-center{
    margin: auto;
    margin-top: 8px;
}

.fix-top-left{
    margin-right:auto;
    margin-left: 10px;
    margin-top: 5px;
}

.fix-top-right{
    margin-left:auto;
    margin-right: 10px;
}

.cat-phone-gap{
    font-size: 30px;
}
.service-phone-link .fa{
    font-size: 20px;
    width: 24px;
}
.top-fa{
    font-size: 28px;
    font-weight: normal;
}

.top-fa .fa{
    width:26px;
}

.top-fa .fa.fa-wheelchair{
    font-size: 18px;
    width: 14px;
}

.footer{
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
}

.hero-wrap{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 36vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-menu{
    display: flex;
    margin-top: auto;
}

.hero-menu li{
    text-align: center;
    max-width: 33%;
    width: 13%;
    height: 82px;
}

.hero-menu li a{
    display: block;
    width: 100%;
    height: 100%;
    font-weight: normal;
}

.hero-a-icon{
    height: 30px;
    width: 100%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12px 0px 5px;
    box-sizing: border-box;
}



.footer-item{
    margin: 5px 0px 40px;
}
.bottom-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.bottom-menu .bar-item {
    margin: 0px 40px;
}

.bottom-menu .main-a{
    font-size: 38px;
}

.bottom-menu .sub-item{
    margin-top:5px ;
}


.footer-bottom-wrap{
    margin-top: 30px;
    margin-bottom: 5px;
}

.bottom-menu .main-menu-ietm-wrap{
    font-size: 1.3em;
}

.footer-bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-wrap{
    color: inherit;
}


.title-wrap{
    margin-bottom: 20px;
}

.midpage-title-wrap{
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-price{
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom:1px solid ;
    text-align: center;
    font-weight: bold;
}

.select-cat-auto-submit{
    padding: 6px;
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
}

.top-search button {
    all: unset;
    padding: 9px;
    cursor: pointer;
    font-size: 17px;
    margin-right: 6px;
    border: 2px solid;
    border-radius: 50%;
  }

.top-search input{
    border: 1px solid #ccc;
    font-size:14px;
    width: 100px;
    padding:3px;
}

.alt-page-fixed-top .top-search input{
    font-size:12px;
}

.alt-page-fixed-top .top-search button{
    padding: 4px;
    font-size: 14px;
}

.top-menu-carret{
    padding-left: 10px;
}

#right_bar_wrap img, #left_bar_wrap img {
    max-width:100%;
}

.flex-row{
    display: flex;   
}

.flex-wrap{
    flex-wrap: wrap;
}

.grow-1{
    flex-grow: 1;
}

.c-block{
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000030;
    border: 1px solid #D9D9D9;
    margin-bottom: 31px;
    padding: 15px;
    padding-top: 10px;
}

.c-block h2{
    margin-bottom: 10px;
}

.list-article-banner{
    display: block;
    float: right;
    margin-left: 18px;
}

.list-article-button-wrap{
    clear: both;
    text-align: left;
    margin-top: 10px;
}

.list-article-body{
    font-size: 17px;
    line-height: 24px;
}

a.nice-button{
    display: inline-block;
    border-radius: 25px 5px;
    padding: 10px 22px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 3px 3px 3px gray;
}

.left-bar .page-block{
    padding: 0 20px 30px;
}

.left-bar .page-block h1, 
.left-bar .page-block h2,  
.left-bar .page-block h3,
.left-bar .page-block h4,
.left-bar .page-block h5{
    margin-top: 20px;
    margin-bottom: 10px;
}

.left-bar .page-block:first h1,
.left-bar .page-block:first h2t,
.left-bar .page-block:first h3,
.left-bar .page-block:first h4,
.left-bar .page-block:first h5{
    margin-top: 0px;
}

.right-bar-banner{
    border: 1px solid #a4a4bd;
    padding: 4px;
    margin-bottom: 20px;
}

.right-menu .bar-item .a-link{
    display: block;
    margin: 5px 0px;
    padding: 4px 5px;
    font-size: 18px;
}

.loader-icon {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 66px auto;
  }

  .module-sub-menu .sub-item a{
    display: block;
    padding: 5px 5px;
    margin: 5px 5px;
    font-weight: bold;
  }

  .module-sub-menu .sub-item.selected a{
    color: black;
    text-decoration: underline;
  }

  .list-box{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 30%;
  }

  .list-box .box-title{
    background: #e2e2e2;
    padding: 10px;  
  }
  .list-box .box-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .list-box .box-image{
    align-self: center;
    
  }
  .list-box .box-image img{
    max-width: 100%;
  }
  .list-box .box-go-to{
    align-self: end;
    margin-top: 10px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .biz-form-wrap{
    border: 1px solid #e3e3e3;
    border-radius: 5px; 
    box-shadow: 12px 12px 14px #e3e3e3;
    position: relative;
 }
 
 .biz-form-wrap .biz-form{
     padding: 0px ;
 }
 
 .biz-form-wrap .submit-wrap{
     padding-bottom: 20px;
 }
 
 .biz-form-wrap  .loading-message{
     position: absolute;
     width: 100%;
     height: 100%;
     background: #bbbbbb66;
     border-radius: 5px;
     top: 0;
     left: 0;
     z-index: 1;
 }

.biz-form-wrap .form-header{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.biz-form-wrap .form-group{
    margin: 10px 20px;
    position: relative;
}

.hero-form-holder .biz-form-bg{
    background: #ffffffb0;
}

.hero-form-holder .request-success-wrap{
    background: #ffffffb0;
    padding: 20px;
}

.hero-form-holder .submit-wrap input{
    display: inline-block;
    width: auto;
    padding: 10px 100px;
}

.form-group .form-input{
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 4px 6px;
    border: 1px solid #ccc;
}

.form-group .form-input:focus{
    box-shadow: 0px 1px 5px #2ea3f2;
}

.form-group select option.deep-1{
    font-weight: bold;
    font-size: 1.3em;
}

.form-group select option.deep-2{
    font-weight: bold;
    font-size: 1.1em;
}

.form-group .submit-button{
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0px;
}

.form-group .tooltip{
    position: absolute;
    background: white;
    color: red;
    padding: 5px;
    font-size: 10px;
    left: -11px;
    top: -18px;
    border-radius: 6px;
    box-shadow: -3px 3px 7px red;
    border: 2px solid red;
    font-weight: bold;
}

.roundish-cube{
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000030;
    border: 1px solid gray;
    margin-top: 20px;
    
    clear: both;
}

.roundish-cube .flex-section{
    display: flex;
}

.roundish-cube .section{
    margin: 8px;
}

.roundish-title{
    clear: both;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
}

.roundish-title .title-a{
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
}

.amin-logo{
    max-width: 100px;
    padding-left: 10px;
}
.amin-logo img{
    max-width: 100%;
}
.roundish-cube .whatsapp-phone a{
    display: flex;
    align-items: center;
}

.roundish-cube .whatsapp-phone a img{
    padding-left: 10px;
}

.page-block img{
    max-width: 100%;
    height: auto;
}

.centerish{
    text-align:center;
}

.smaller{
    font-size: 0.85rem;
}

.kova, .kova-b{
    text-align: center;
    margin-bottom: 31px;

}

.kova h3,.kova-b h3{
    padding: 5px 10px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.right-bar .kova{
    margin-top: 20px;
}

.kova-content{
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 20px;
}

.news-ticker-wrap { 
    height:160px;
    overflow:hidden;
    text-align: right;
    font-family:Helvetica;
  }
.news-ticker-wrap .mask {
    position: relative;
    left: 0px;
    top: 10px;
    height:150px;
    overflow: hidden;
}
.news-ticker{
    position: relative;
}

.news-ticker .item-content{
    font-size: 0.9em;
    padding-bottom: 10px;
}

a.news-ticker-a-content{
    color: black;
}

.img img{
    width: 100%;
    height: auto;
}

.flex-table .row {
    display: table-row;
}

.flex-table .col {
    display: table-cell;
    padding: 5px 10px 15px;
    vertical-align: top;

}

.flex-table .col-tiny {
    max-width:50px;
}

.flex-table .col-small{
    max-width: 100px;
}

.quote-cat-title{
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quote-cat-wrap{
    margin: 20px 0px;
    border-bottom: 8px solid #808080;
    border-radius: 5px;
}

.quote-list-wrap .flex-table-th{
    background: #808080;
    color: white;
}

.quote-list-wrap {
    border: 5px solid #808080;
    border-top: none;
}

.quote-list-wrap .col{
    border-bottom: 2px solid #808080;
}

.mobile-quote-wrap{
    border-bottom: 2px solid #808080;
}

.mobile-quote-wrap .col{
    border-bottom: none;
}

.quote-wrap .col-first{
    width: 30%;
}

.quote-wrap .col-first img{
    width: 100%;
}

.quote-link a{
    display: block;
    padding: 5px 18px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
}

.quote-phone-link{
    display: flex;
    padding-top: 5px;
}

.quote-phone-link .fa{
    display: block;
    padding: 3px;
    border-radius: 3px;
}

.quote-galley{
    border-bottom: 3px solid;
}

.quote-galley .el{
    margin-bottom: 10px;
    border-bottom:none ;
}

.quote-galley .quote-link a{
    margin: auto;
}

.quote-list-wrap .flex-table-th .col{
    border-bottom:none;
    padding: 5px 10px 5px;
    font-size: 20px;
}

.product-images-wrap{
    max-width: 256px;
    float: left;
    overflow: hidden;
    margin-right: 50px;
}

.product-images-wrap .big-img-wrap{
    border: 1px solid #bbb;
    text-align: center;
}

.product-images-wrap .big-img-wrap img{
    max-height: 100%;
}

.product-images-wrap img{
    max-width: 100%;
}

.product-thumbs{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    
}

.product-thumb{
    border: 1px solid gray;
    width: 25%;
    flex-grow: 1;
}


.biz-form-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: auto;
    background: #a7a7a7de;
    width: 100%;
    padding: 20px;
    z-index: 100;
}

.biz-form-holder{
    max-width: 340px;
    margin: auto;
}

.biz-form-modal .biz-form-wrap{
    clear: both;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}

.modal-close-button-wrap a{
    display: block;
    float: left;
    margin-bottom: 5px;
    background: white;
    font-size: 25px;
    padding: 9px 12px;
    border-radius: 52%;
    font-family: arial;
    font-weight: bold;
    height: 40px;
    width: 40px;
    line-height: 22px;
}

.gallery-images-wrap .big-img-wrap{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
}

.gallery-images-wrap .gallery-image-text-holder{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.gallery-images-wrap .gallery-image-text{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.mobile-gallery-wrap .mobile-gallery-image{
    text-align: center;
}

.mobile-gallery-wrap .mobile-gallery-image{
    text-align: center;
}

.gallery-images-wrap img{
    max-width: 100%;
}

.gallery-images-wrap .gallery-thumbs{
    display: flex;
    flex-wrap: wrap;
}

.gallery-images-wrap .gallery-thumb{
    width: 80px;
    margin: 5px;
    margin-top: 0px;
}

@media only screen and (min-width: 890px) {
    .wide-fix-top-right{
        margin-left:auto;
        margin-right: 10px;
    }

    #top_menu_wrap{
        display: flex;
        align-items: center;
    }
    #top_menu_wrap ul.top-menu{
        display: flex;
    }
    .top-menu .bar-item{
        display: flex;
        align-items: center;
    }
    .top-menu .bar-item .main-spn{
        display:block;
        border-right: 1px solid white;
        font-size: 18px;
        padding: 3px 8px;
    }

    .alt-page-fixed-top .top-menu .bar-item .main-spn{
        border-right: none;
        font-size: 14px;
    }

    .top-menu ul.sub-menu{
        display: none;
        position: fixed;
        background: white;
        border: 1px solid #11110e;
        width: 84%;
        right: 9%;
        top: 72px;
        padding: 10px;
    }
    .top-menu .fa-chevron-down{
        font-size: 1.3em;
    }
    
    .top-menu li.active-sub ul.sub-menu{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .top-menu ul.sub-menu .sub-item a{
        margin: 0px;
        padding: 10px;
        width: 130px;
        text-align: center;
        display: block;
        font-weight: bold;
        color: black;
        min-height: 70px;
    }

    #page_wrap{
        margin-top: 58px;
        transition: margin 0.3s;
    }

    #page_middle{
        display: flex;
        margin: 0px 20px;
        padding-top:30px;
    }
    
    #right_bar_wrap{
        max-width: 18%;
        overflow: hidden;
        width:275px;
    }
    
    #center_bar_wrap{
        flex-shrink: 6;
        flex-grow:1;
        margin-right: 2.3%;
        margin-left: 2.3%;
    }
    
    #left_bar_wrap{
        max-width: 25%;
        width:440px;
    }





    .hero-form-holder .biz-form-wrap{
        box-shadow: none;
        border: none;
        margin: 50px;
    }
    
    .hero-form-holder .form-header{
        display: inline-block;
        color:black;
        margin: 0px 40px;
    }
    
    .hero-form-holder .biz-form-placeholder{
        display: flex;
        flex-wrap: wrap;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        padding-top: 20px;
    }
    
    .hero-form-holder .form-group{
        width: 21%;
    }
    
    .hero-form-holder .form-group input, .hero-form-holder .form-group select{
        height: 46px;
    }
    
    .hero-form-holder .submit-wrap{
        width: 100%;
        margin: 0px;
        text-align: left;
        padding: 16px 50px;
        border-bottom-left-radius:20px ;
        border-bottom-right-radius:20px ;
    }
    .quote-wrap .col-first{
        width: 110px;
    }
}


@media only screen and (min-width: 580px) {
    .leftish{float:left;}
    .h-r,.h-l{
        width: 48% ;
    }
    .h-r{
        float: right;
        clear: both;
    }
    .h-l{
        float: left;
    }
}
@media only screen and (max-width: 580px) {
    .product-images-wrap{
        float:none;
        margin: auto;
    }

}

@media only screen and (max-width: 890px) {

    .page-fixed-top{
        padding: 0px 0px 5px;
    }

    .fix-top-right{
        margin-right: 20px;
    }
    .fix-top-left{
        margin-left: 20px;
    }
    .top-menu-drawer{
        transition: 0.5s;
        position: fixed;
        top: 60px;
        background: inherit;
        right: 0px;
        max-height: 80vh;
        overflow: auto;
        right: -400px;
        border: 1px solid;
        z-index: 3;
    }

    .top-menu-drawer .right-menu{
        padding: 0px 20px 10px;
    }

    #top_menu_wrap{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        width: 250px;
    }

    .top-menu .bar-item, .top-menu .sub-item{
        font-size: 18px;
        padding-top: 7px;
    }
    .top-menu ul.sub-menu{
        display: none;
        padding-right: 10px;
    }

    .top-menu li.active-sub ul.sub-menu{
        display: block;
    }

    #logo_wrap img{
        max-height: 50px;
    }

    #page_wrap{
        margin-top: 58px;
    }

    #page_middle{
        margin: 0px 20px;
        padding-top:30px;
        display: flex;
        flex-direction: column;
    }
    #page_middle #right_bar_wrap{
        order: 3;
    }
    #page_middle #center_bar_wrap{
        order:-1;
    }
    #page_middle #left_bar_wrap{
        order: 1;
    }

    .biz-form-door-button-wrap{
        width: 100%;
        background: white;
        border-bottom:10px solid white;
    }
    a.biz-form-door-button-a{
        
        text-align: center;
        padding: 9px;
        margin-top: 4px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-right: 10px;
        margin-left: 10px;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .biz-form-door-button-wrap::before{
        display: block;
        content: "*";
        background: white;
        width: 19px;
        height: 30px;
        border-top-left-radius: 18px;
        float: right;
        margin-top: 9px;
    }

    .biz-form-door-button-wrap::after{
        display: block;
        content: "*";
        background: white;
        width: 19px;
        height: 30px;
        border-top-right-radius: 18px;
        float: left;
        margin-top: 9px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-size: 0px;
    }

    .hero-menu{
        flex-wrap: wrap;
    }

    .hero-menu li{
        text-align: center;
        max-width: 33%;
        width: 33%;
        height: 82px;
    }

    .hero-form-holder{
        margin: 50px auto;
        border-radius: 5px;
    }

    .list-box{
        min-width: 50%;
      }
}